@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --text-tiny: 0.7rem; 

  /*custom breakpoints as per new tailwind version  */
  --breakpoint-tiny: 32rem;    /* 512px */
  --breakpoint-xsm: 36.7rem; /* 587px */
  --breakpoint-sm: 40.9rem;  /* 655px */
  --breakpoint-md: 49.5rem;  /* 792px */
  --breakpoint-lg: 61.1rem;  /* 977px */
  --breakpoint-xl: 80rem;    /* 1280px */
  --breakpoint-2xl: 100rem;  /* 1600px */
}

@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.hide-scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome : from stackoverflow*/ 
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}